/*
 * Font Face Definition
 */
@font-face {
  font-family: "Aller";
  src: url("fonts/Aller/aller_rg-webfont.woff") format("woff"), url("fonts/Aller/aller_rg-webfont.ttf") format("truetype"), url("fonts/Aller/aller_rg-webfont.svg") format("svg"), url("fonts/Aller/aller_rg-webfont.eot") format("eot"); }
@font-face {
  font-family: "Aller";
  src: url("fonts/Aller/aller_bd-webfont.woff") format("woff"), url("fonts/Aller/aller_bd-webfont.ttf") format("truetype"), url("fonts/Aller/aller_bd-webfont.svg") format("svg"), url("fonts/Aller/aller_bd-webfont.eot") format("eot");
  font-weight: bold; }
@font-face {
  font-family: "Aller";
  src: url("fonts/Aller/aller_it-webfont.woff") format("woff"), url("fonts/Aller/aller_it-webfont.ttf") format("truetype"), url("fonts/Aller/aller_it-webfont.svg") format("svg"), url("fonts/Aller/aller_it-webfont.eot") format("eot");
  font-weight: normal;
  font-style: italic; }
/* set font-family in body */
body {
  font-family: Aller, sans-serif; }

#map {
  display: flex;
  flex-wrap: wrap;
  background-color: #EBF0F3; }

.map-container {
  flex: 0 0 74%;
  max-width: 74%;
  position: relative;
}

.control-container {
  flex: 0 0 26%;
  max-width: 26%;
  background-color: #EBF0F3;
  position: relative;
  padding: 10px; }

/*
 * global button styling
 */
.btn {
  background-color: #384A55;
  color: #ffffff;
  border-radius: 4px;
  height: 38px;
  text-decoration: none;
  padding: 10px;
  line-height: 19px; }
  .btn:hover {
    background-color: black; }
  .btn.btn-icon {
    padding: 5px;
    width: 38px;
    text-align: center; }
  .btn.btn-fixed-width {
    width: 140px;
    text-align: center; }

.map-controls {
  font-size: 12px;
  position: absolute;
  top: 10px;
  left: 10px; }
  .map-controls ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .map-controls li {
    display: block;
    float: left;
    margin-right: 5px; }
  .map-controls a {
    display: block; }

.map-legend {
  position: absolute;
  left: 10px;
  bottom: 10px;
  background-color: #ffffff;
  border: 1px solid rgba(145, 172, 188, 0.5);
  border-radius: 5px;
  padding: 10px; }
  .map-legend .title {
    font-size: 14px;
    color: #445870;
    text-align: left;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 10px; }
  .map-legend ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #384A55;
    line-height: 24px; }
  .map-legend small {
    color: #D4E2EA;
    font-size: 11px; }
  .map-legend .swatch {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 5px;
    border: 1px solid #91ACBC;
    position: relative;
    top: 4px; }
    .map-legend .swatch.color-0 {
      background-color: white; }
    .map-legend .swatch.color-1 {
      background-color: #f5f8f9; }
    .map-legend .swatch.color-2 {
      background-color: #d4e2ea; }
    .map-legend .swatch.color-3 {
      background-color: #91acbc; }
    .map-legend .swatch.color-4 {
      background-color: #536d7c; }
    .map-legend .swatch.color-5 {
      background-color: #384a55; }

.map {
  background-color: #F5F7F9; }
  .map .capital,
  .map .tooltip {
    background-color: #ffffff;
    font-size: 12px;
    color: #384A55;
    text-align: center;
    padding: 6px 20px;
    border-radius: 4px; }
  .map .capital {
    font-weight: bold; }
  .map .tooltip {
    position: relative;
    padding: 6px; }
    .map .tooltip strong {
      display: block;
      margin-bottom: 5px; }
    .map .tooltip:after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #ffffff;
      border-width: 10px;
      margin-left: -10px; }

/*
 * Styling Formularfelder
 */
.form-group {
  margin-bottom: 10px; }

label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  color: #445870;
  line-height: 18px;
  margin-bottom: 5px; }

select, input {
  font-family: Aller, sans-serif;
  font-size: 14px;
  color: #445870;
  line-height: 18px;
  padding: 8px 10px; }

hr {
  border: 1px solid #445870;
}

.select-wrapper {
  background: #FFFFFF;
  padding: 2px;
  border: 1px solid rgba(145, 172, 188, 0.5);
  border-radius: 5px;
  position: relative; }
  .select-wrapper::before {
    content: "";
    display: block;
    position: absolute;
    right: 11px;
    top: 18px;
    width: 10px;
    height: 7px;
    background-image: url("icons/icon_arrow_down.svg");
    background-repeat: no-repeat;
    pointer-events: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  width: 100%;
  cursor: pointer;
  outline: none; }
  select:focus {
    outline: none; }
  select option {
    color: #91ACBC; }

select:focus::-ms-value {
  background-color: transparent; }

select::-ms-expand {
  display: none; }

input {
  padding: 12px;
  border: 1px solid rgba(145, 172, 188, 0.5);
  border-radius: 5px;
  width: 100%; }
  input.search {
    background-image: url("icons/icon_search.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: top 50% right 10px; }

::placeholder {
  color: #91ACBC;
  font-style: italic;
  opacity: 1; }

/*
 * Canvas Element aka Chart
 */
#chart {
  width: 100%;
  height: auto;
  background: transparent; }

.chart-wrapper {
  padding: 10px 30px;
  position: relative; }

.chart-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10px;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
  border-radius: 2px; }

/*
 * Table styles
 */
table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid rgba(145, 172, 188, 0.5);
  background-color: #fff;
  border-radius: 5px;
  /*
  &.stripe tbody tr.odd,
  &.display tbody tr.odd {
      background-color: $mapColor2;
  }
  &.stripe tbody tr.odd.selected,
  &.display tbody tr.odd.selected {
      background-color: $mapColor2;
  }
  &.hover tbody tr:hover,
  &.display tbody tr:hover {
      background-color: $mapColor1;
  }
  &.hover tbody tr:hover.selected, &.display tbody tr:hover.selected {
      background-color: #aab7d1;
  }
  &.order-column tbody tr > {
      .sorting_1, .sorting_2, .sorting_3 {
          background-color: $mapColor1;
      }
  }
  &.display tbody tr > {
      .sorting_1, .sorting_2, .sorting_3 {
          background-color: $mapColor1;
      }
  }
  &.order-column tbody tr.selected > {
      .sorting_1, .sorting_2, .sorting_3 {
          background-color: $mapColor2;
      }
  }
  &.display tbody tr {
      &.selected > {
          .sorting_1, .sorting_2, .sorting_3 {
              background-color: $mapColor2;
          }
      }
      &.odd > .sorting_1 {
          background-color: $mapColor1;
      }
  }
  &.order-column.stripe tbody tr.odd > .sorting_1 {
      background-color: $mapColor1;
  }
  &.display tbody tr.odd > .sorting_2, &.order-column.stripe tbody tr.odd > .sorting_2 {
      background-color: #f3f3f3;
  }
  &.display tbody tr.odd > .sorting_3, &.order-column.stripe tbody tr.odd > .sorting_3 {
      background-color: whitesmoke;
  }
  &.display tbody tr.odd.selected > .sorting_1, &.order-column.stripe tbody tr.odd.selected > .sorting_1 {
      background-color: #a6b4cd;
  }
  &.display tbody tr.odd.selected > .sorting_2, &.order-column.stripe tbody tr.odd.selected > .sorting_2 {
      background-color: #a8b5cf;
  }
  &.display tbody tr.odd.selected > .sorting_3, &.order-column.stripe tbody tr.odd.selected > .sorting_3 {
      background-color: #a9b7d1;
  }
  &.display tbody tr.even > .sorting_1, &.order-column.stripe tbody tr.even > .sorting_1 {
      background-color: #fafafa;
  }
  &.display tbody tr.even > .sorting_2, &.order-column.stripe tbody tr.even > .sorting_2 {
      background-color: #fcfcfc;
  }
  &.display tbody tr.even > .sorting_3, &.order-column.stripe tbody tr.even > .sorting_3 {
      background-color: #fefefe;
  }
  &.display tbody tr.even.selected > .sorting_1, &.order-column.stripe tbody tr.even.selected > .sorting_1 {
      background-color: #acbad5;
  }
  &.display tbody tr.even.selected > .sorting_2, &.order-column.stripe tbody tr.even.selected > .sorting_2 {
      background-color: #aebcd6;
  }
  &.display tbody tr.even.selected > .sorting_3, &.order-column.stripe tbody tr.even.selected > .sorting_3 {
      background-color: #afbdd8;
  }
  &.display tbody tr:hover > .sorting_1, &.order-column.hover tbody tr:hover > .sorting_1 {
      background-color: #eaeaea;
  }
  &.display tbody tr:hover > .sorting_2, &.order-column.hover tbody tr:hover > .sorting_2 {
      background-color: #ececec;
  }
  &.display tbody tr:hover > .sorting_3, &.order-column.hover tbody tr:hover > .sorting_3 {
      background-color: #efefef;
  }
  &.display tbody tr:hover.selected > .sorting_1, &.order-column.hover tbody tr:hover.selected > .sorting_1 {
      background-color: #a2aec7;
  }
  &.display tbody tr:hover.selected > .sorting_2, &.order-column.hover tbody tr:hover.selected > .sorting_2 {
      background-color: #a3b0c9;
  }
  &.display tbody tr:hover.selected > .sorting_3, &.order-column.hover tbody tr:hover.selected > .sorting_3 {
      background-color: #a5b2cb;
  }
  */
  box-sizing: content-box; }
  table.dataTable th, table.dataTable td {
    font-size: 14px;
    text-align: left; }
  table.dataTable th, table.dataTable td {
    border-right: 1px solid rgba(145, 172, 188, 0.5);
    border-bottom: 1px solid rgba(145, 172, 188, 0.5);
    color: #445870; }
    table.dataTable th:last-child, table.dataTable td:last-child {
      border-right: 0; }
  table.dataTable tbody tr:last-child td,
  table.dataTable tbody tr:last-child th {
    border-bottom: 0; }
  table.dataTable thead th, table.dataTable thead td {
    padding: 6px 10px; }
  table.dataTable thead th:active, table.dataTable thead td:active {
    outline: none; }
  table.dataTable tfoot th, table.dataTable tfoot td {
    padding: 6px 10px; }
  table.dataTable.no-footer tbody tr:last-child td:first-child {
    border-bottom-left-radius: 5px; }
  table.dataTable.no-footer tbody tr:last-child td:last-child {
    border-bottom-right-radius: 5px; }
  table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
    position: relative; }
  table.dataTable thead .sorting::before {
    top: 4px;
    right: 6px;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(145, 172, 188, 0);
    border-bottom-color: #91ACBC;
    border-width: 5px; }
  table.dataTable thead .sorting::after {
    bottom: 4px;
    right: 6px;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(145, 172, 188, 0);
    border-top-color: #91ACBC;
    border-width: 5px; }
  table.dataTable thead .sorting_asc::before {
    top: 4px;
    right: 6px;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(56, 74, 85, 0);
    border-bottom-color: #384A55;
    border-width: 5px; }
  table.dataTable thead .sorting_asc::after {
    bottom: 4px;
    right: 6px;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(145, 172, 188, 0);
    border-top-color: #91ACBC;
    border-width: 5px; }
  table.dataTable thead .sorting_desc::before {
    top: 4px;
    right: 6px;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(145, 172, 188, 0);
    border-bottom-color: #91ACBC;
    border-width: 5px; }
  table.dataTable thead .sorting_desc::after {
    bottom: 4px;
    right: 6px;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(56, 74, 85, 0);
    border-top-color: #384A55;
    border-width: 5px; }
  table.dataTable thead .sorting_asc_disabled::before {
    top: 4px;
    right: 6px;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(245, 248, 249, 0);
    border-bottom-color: #F5F8F9;
    border-width: 5px; }
  table.dataTable thead .sorting_desc_disabled::before {
    bottom: 4px;
    right: 6px;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(245, 248, 249, 0);
    border-top-color: #F5F8F9;
    border-width: 5px; }
  table.dataTable tbody tr {
    background-color: #ffffff; }
    table.dataTable tbody tr.selected {
      background-color: #f5f8f9; }
  table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px; }
  table.dataTable.nowrap th, table.dataTable.nowrap td {
    white-space: nowrap; }
  table.dataTable th.dt-left, table.dataTable td.dt-left {
    text-align: left; }
  table.dataTable th.dt-center {
    text-align: center; }
  table.dataTable td.dt-center, table.dataTable td.dataTables_empty {
    text-align: center; }
  table.dataTable th.dt-right, table.dataTable td.dt-right {
    text-align: right; }
  table.dataTable th.dt-justify, table.dataTable td.dt-justify {
    text-align: justify; }
  table.dataTable th.dt-nowrap, table.dataTable td.dt-nowrap {
    white-space: nowrap; }
  table.dataTable thead th.dt-head-left, table.dataTable thead td.dt-head-left {
    text-align: left; }
  table.dataTable tfoot th.dt-head-left, table.dataTable tfoot td.dt-head-left {
    text-align: left; }
  table.dataTable thead th.dt-head-center, table.dataTable thead td.dt-head-center {
    text-align: center; }
  table.dataTable tfoot th.dt-head-center, table.dataTable tfoot td.dt-head-center {
    text-align: center; }
  table.dataTable thead th.dt-head-right, table.dataTable thead td.dt-head-right {
    text-align: right; }
  table.dataTable tfoot th.dt-head-right, table.dataTable tfoot td.dt-head-right {
    text-align: right; }
  table.dataTable thead th.dt-head-justify, table.dataTable thead td.dt-head-justify {
    text-align: justify; }
  table.dataTable tfoot th.dt-head-justify, table.dataTable tfoot td.dt-head-justify {
    text-align: justify; }
  table.dataTable thead th.dt-head-nowrap, table.dataTable thead td.dt-head-nowrap {
    white-space: nowrap; }
  table.dataTable tfoot th.dt-head-nowrap, table.dataTable tfoot td.dt-head-nowrap {
    white-space: nowrap; }
  table.dataTable tbody th.dt-body-left, table.dataTable tbody td.dt-body-left {
    text-align: left; }
  table.dataTable tbody th.dt-body-center, table.dataTable tbody td.dt-body-center {
    text-align: center; }
  table.dataTable tbody th.dt-body-right, table.dataTable tbody td.dt-body-right {
    text-align: right; }
  table.dataTable tbody th.dt-body-justify, table.dataTable tbody td.dt-body-justify {
    text-align: justify; }
  table.dataTable tbody th.dt-body-nowrap, table.dataTable tbody td.dt-body-nowrap {
    white-space: nowrap; }
  table.dataTable th, table.dataTable td {
    box-sizing: content-box; }

/*
 * Control feature layout
 */
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1; }
  .dataTables_wrapper .dataTables_length {
    float: left; }
  .dataTables_wrapper .dataTables_filter input {
    background-image: url("icons/icon_search.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: top 50% right 10px;
    width: 100%; }
  .dataTables_wrapper .dataTables_info {
    clear: both;
    text-align: center;
    padding-top: 2px;
    font-size: 14px; }
  .dataTables_wrapper .dataTables_paginate {
    text-align: center;
    padding-top: 2px;
    font-size: 14px; }
    .dataTables_wrapper .dataTables_paginate .paginate_button {
      box-sizing: border-box;
      display: inline-block;
      min-width: 1.5em;
      padding: 2px;
      margin-left: 2px;
      text-align: center;
      text-decoration: none !important;
      cursor: pointer;
      *cursor: hand;
      color: #333 !important;
      border: 1px solid transparent;
      border-radius: 2px; }
      .dataTables_wrapper .dataTables_paginate .paginate_button.current {
        color: #384A55 !important; }
        .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
          background-color: #F5F8F9; }
      .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
        cursor: default;
        color: #91ACBC !important; }
        .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
          cursor: default; }
      .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        color: #000 !important; }
      .dataTables_wrapper .dataTables_paginate .paginate_button:active {
        outline: none; }
    .dataTables_wrapper .dataTables_paginate .ellipsis {
      padding: 0 1em; }
  .dataTables_wrapper .dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 40px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%); }
  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #445870; }
  .dataTables_wrapper .dataTables_scroll {
    clear: both; }
    .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
      *margin-top: -1px;
      -webkit-overflow-scrolling: touch; }
      .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td {
        vertical-align: middle; }
      .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td {
        vertical-align: middle; }
      .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td > div.dataTables_sizing {
        height: 0;
        overflow: hidden;
        margin: 0 !important;
        padding: 0 !important; }
      .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td > div.dataTables_sizing {
        height: 0;
        overflow: hidden;
        margin: 0 !important;
        padding: 0 !important; }
  .dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #111; }
  .dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable, .dataTables_wrapper.no-footer div.dataTables_scrollBody > table {
    border-bottom: none; }
  .dataTables_wrapper:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0; }

/*# sourceMappingURL=styles.css.map */

.stadt_label {
  background-color: #ffffff;
  font-size: 12px;
  color: #384A55;
  text-align: center;
  padding: 6px 20px;
  border-radius: 4px; }
